[data-brand="cyan"] {
  --primary: oklch(39.8% 0.07 227.392);
  --accent: oklch(30.2% 0.056 229.695);
}

.dark[data-brand="cyan"] {
  --primary: oklch(83.7% 0.128 66.29);
  --accent: oklch(98% 0.016 73.684);
}
