[data-theme="fuchsia"] {
  --primary: oklch(45.2% 0.211 324.591);
  --accent: oklch(29.3% 0.136 325.661);
}

.dark[data-theme="fuchsia"] {
  --primary: oklch(74% 0.238 322.16);
  --accent: oklch(97.7% 0.017 320.058);
}
