[data-surface="gray"] {
  --background: oklch(98.5% 0.002 247.839);
  --foreground: oklch(13% 0.028 261.692);
  --muted: oklch(70.7% 0.022 261.325);
  --neutral: oklch(87.2% 0.01 258.338);
}

.dark[data-surface="gray"] {
  --foreground: oklch(98.5% 0.002 247.839);
  --background: oklch(13% 0.028 261.692);
  --muted: oklch(44.6% 0.03 256.802);
  --neutral: oklch(37.3% 0.034 259.733);
}
