@import "tailwindcss";
@import "./theme.css";
@import "./rose-brand.css";
@import "./purple-brand.css";
@import "./fuchsia-brand.css";
@import "./pink-brand.css";
@import "./violet-brand.css";
@import "./lime-brand.css";
@import "./emerald-brand.css";
@import "./teal-brand.css";
@import "./sky-brand.css";
@import "./indigo-brand.css";
@import "./amber-brand.css";
@import "./cyan-brand.css";
@import "./orange-brand.css";
@import "./zinc-surface.css";
@import "./taupe-surface.css";
@import "./stone-surface.css";
@import "./slate-surface.css";
@import "./olive-surface.css";
@import "./gray-surface.css";
@import "./mist-surface.css";
@import "./mauve-surface.css";
@import "./card.css";
@import "./capsule.css";
@import "./kbd.css";
@import "./skeleton.css";
@import "./tag.css";
@import "./typography.css";

@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 6px;  
  height: 6px;  
}
