[data-theme="mauve"] {
  --background: oklch(98.5% 0 0);
  --foreground: oklch(14.5% 0.008 326);
  --muted: oklch(71.1% 0.019 323.02);
}

.dark[data-theme="mauve"] {
  --foreground: oklch(98.5% 0 0);
  --background: oklch(14.5% 0.008 326);
  --muted: oklch(43.5% 0.029 321.78);
}
