[data-brand="orange"] {
  --primary: oklch(64.6% 0.222 41.116);
  --accent: oklch(55.3% 0.195 38.402);
}

.dark[data-brand="orange"] {
  --primary: oklch(70.5% 0.213 47.604);
  --accent: oklch(75% 0.183 55.934);
}
