[data-theme="pink"] {
  --primary: oklch(45.9% 0.187 3.815);
  --accent: oklch(28.4% 0.109 3.907);
}

.dark[data-theme="pink"] {
  --primary: oklch(71.8% 0.202 349.761);
  --accent: oklch(97.1% 0.014 343.198);
}
