[data-theme="sky"] {
  --primary: oklch(44.3% 0.11 240.79);
  --accent: oklch(29.3% 0.066 243.157);
}

.dark[data-theme="sky"] {
  --primary: oklch(74.6% 0.16 232.661);
  --accent: oklch(97.7% 0.013 236.62);
}
