.anatomy-highlight {
  outline: 3px solid var(--primary);
  outline-offset: -3px;
}

.skeleton {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  background-color: hsl(var(--muted));
  border-radius: calc(var(--radius) - 2px);
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

select,
::picker(select) {
  appearance: base-select;
}

::picker(select) {
  background: var(--muted);
  border-radius: calc(var(--radius) - 2px);
  padding: 4px;
  margin-block: 4px;
  border: 1px solid var(--border);
}

select:open::picker-icon {
  rotate: 180deg;
}

.peer:focus-visible + .indicator {
  outline: none;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f6;
  box-shadow:
    0 0 0 2px var(--tw-ring-offset-color),
    0 0 0 4px var(--tw-ring-color);
}
